<div class="row">
    <div class="col-12 col-lg-4">
        <a href="https://www.etf.bg.ac.rs/#gsc.tab=0"><img src="../../assets/links/etf.png" alt="ETF"></a>
    </div>
    <div class="col-12 col-lg-4">
        <a href="https://developers.facebook.com/"><img src="../../assets/links/facebook.svg" alt="Facebook"></a>
    </div>
    <div class="col-12 col-lg-4">
        <a href="https://nordeus.com/"><img src="../../assets/links/nordeus.png" alt="Nordeus"></a>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4">
        <a href="https://www.microsoft.com/sr-latn-rs/"><img src="../../assets/links/microsoft.png" alt="Microsoft"></a>
    </div>
    <div class="col-12 col-lg-4">
        <a href="https://www.nvidia.com/en-us/"><img src="../../assets/links/nvidia.png" alt="NVidia"></a>
    </div>
    <div class="col-12 col-lg-4">
        <a href="https://developers.google.com/"><img src="../../assets/links/google.png" alt="Google"></a>
    </div>
</div>
