<div class="container-fluid">
    <div class="row" id="header">
        <div class="col-8">
            Катедра за рачунарску технику и информатику
        </div>
        <div class="col-4">
            <a href="https://bg.ac.rs"><img src="../assets/university-logo.svg" alt="Logo univerziteta"></a>
            <a href="http://etf.rs"><img src="../assets/logo.png" alt="Logo fakulteta"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <a routerLink="mainPage" class="nav-link" routerLinkActive="active">Почетна</a>
                    <a routerLink="employees" class="nav-link" routerLinkActive="active">Запослени</a>
                    <a routerLink="news" class="nav-link" routerLinkActive="active">Обавештења</a>
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="first" routerLink="subjects" routerLinkActive="active">Студије</a>
                        <div class="dropdown-menu" aria-labelledby="first">
                            <a routerLink="subjects" class="dropdown-item" (click)="saveType('RTI')">Одсек за рачунарску технику и информатику</a>
                            <a routerLink="subjects" class="dropdown-item" (click)="saveType('SI')">Одсек за софтверско инжењерство</a>
                            <a routerLink="subjects" class="dropdown-item" (click)="saveType('others')">Остали одсеци</a>
                            <div class="dropdown-divider"></div>
                            <a routerLink="subjects" class="dropdown-item" (click)="saveType('master')">Мастер студије</a>
                        </div>
                    </div>
                    <a routerLink="studentProjects" class="nav-link" routerLinkActive="active">Пројекти</a>
                    <div class="btn-group">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="second">Наука</a>
                        <div class="dropdown-menu" aria-labelledby="second">
                            <a routerLink="explore" class="dropdown-item" routerLinkActive="active">Истраживања</a>
                            <a routerLink="projects" class="dropdown-item" routerLinkActive="active">Пројекти</a>
                        </div>
                    </div>
                    <a routerLink="contact" class="nav-link" routerLinkActive="active">Контакт</a>
                    <div class="btn-group" *ngIf="!logged; else elseBlock">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="third">Пријава</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="third">
                            <form class="px-4 py-3">
                                <div class="form-group">
                                    <label for="username">Корисничко име:</label>
                                    <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Лозинка:</label>
                                    <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
                                </div>
                                <button class="btn btn-primary" (click)="login()">Пријави се</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="registerStudent">Нови корисник? Региструј се.</a>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <a class="nav-link" role="button" (click)="logout()">Одјава</a>
                    </ng-template>
                </div>  
            </nav>
        </div>
    </div>
    <div class="row" *ngIf="logged">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark" id="secondary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secondary" aria-controls="secondary" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="secondary">
                    <a routerLink="passwordChange" routerLinkActive="active" class="nav-link">Промена лозинке</a>
                    <div *ngIf="userType == 'admin'">

                    </div>
                    <a *ngIf="userType=='employee'" routerLink="profile" routerLinkActive="active" class="nav-link">Профил</a>
                    <a *ngIf="userType=='employee'" routerLink="employeeSubjects" routerLinkActive="active" class="nav-link">Предмети</a>
                    <a *ngIf="userType=='employee'" routerLink="employeeSubjectNews" routerLinkActive="active" class="nav-link">Обавештења о предметима</a>
                    <a *ngIf="userType=='employee'" routerLink="lists" routerLinkActive="active" class="nav-link">Спискови</a>
                    <div *ngIf="userType == 'student'">

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row content" [class.smanji]='logged'>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row text-center" id="footer">
        <div class="col">
            Електротехнички факултет, Универзитет у Београду, Булевар краља Александра 73, 11120 Београд, Србија
            <br>
            ЕТФ © 2021
        </div>
    </div>
</div>