.navbar{
    min-height: 6vh;
    background-color: rgb(90, 47, 47);
    text-align: right;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}

.navbar a{
    text-decoration: none;
    color: antiquewhite;
}

.navbar a.active{
    color: rgb(172, 152, 126);
}

.navbar a:hover{
    color: rgb(172, 152, 126);
}

.navbar .dropdown-menu a{
    text-decoration: none;
    color: rgb(90, 47, 47);
}

.navbar-brand{
    height: 45px;
}

.navbar-brand img{
    height: 100%;
}

#content{
    min-height: 78vh;
}

#header{
    min-height: 10vh;
    background-color:  rgba(90, 47, 47, 0.63);
    width: 100%;
    margin: 0;
}

#header div.col-8{
    color: white;
    font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 1.8% 7%;
    opacity: 50%;
}

#header div.col-4 img{
    height: 65px;
    float: right;
    padding-right: 20%;
    opacity: 50%;
}

.container-fluid{
    width: 90%;
}

#footer{
    min-height: 6vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: smaller;
}