table{
    background-color: rgba(0, 0, 0, 0.5);
    color: antiquewhite;
    margin: auto;
}

table tr{
    border-top: 1px solid white;
}

table td{
    width: 50%;
}

table a{
    color: antiquewhite;
    text-decoration: none;
}

table a:hover{
    color: antiquewhite;
    text-decoration: underline;
}