<form>
    <div class="form-group">
        <label for="subjects">Изабери предмет:</label>
        <select name="subject" id="subjects" (change)="changed()" [(ngModel)]="subjectCode" class="form-control">
            <option *ngFor="let subject of user.subjects" value="{{subject.code}}">{{subject.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Наслов вести</label>
        <input id="title" class="form-control" type="text" name="title" [(ngModel)]="title">
    </div>
    <div class="form-group">
        <label for="content">Садржај вести</label>
        <textarea id="content" class="form-control" name="content" rows="3" [(ngModel)]="content"></textarea>
    </div>
    <div class="form-group">
        <label for="file">Фајл</label>
        <input id="file" class="form-control-file" type="file" name="file" (change)='onFileChange($event.target.files)'>
    </div>
    <button type="submit" class="btn btn-primary" (click)='uploadNews()'>Објави вест</button>
</form>
